.card{
    width: 450px;
    font-size: 25px;
    align-items: center;
    
    
   
    
}
.container, .row{
    height: 100%;
    margin: 0;

}
.btn btn-primary{
    position: center;
}
.input-group mb-2{
    width: 250px;
}